html,body{
    height:100%
}
 
body{

    font-family: 'Segoe UI',Calibri,Arial,sans-serif;

    color:#454545;

    margin:0px;

    padding:25px 0px 4%;

}

#wrapper{
    
	min-height:100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

a{
    text-decoration:none;
    color:inherit;  
}

a:hover, a:visited, a:focus{
    text-decoration:none;
    color:inherit;
}

h1,h2,h3, h4, h5, #menu>li>a{
    color:#a6a6a6;
    font-family: 'Sorts Mill Goudy', Cambria, serif;
}

h3{
    font-size: 30px;
    margin-top:35px;
    margin-bottom:20px;
}

.container{
    padding-left:0px;
    padding-right:0px;
}


#header{

}

.darker_row{

    background-color:#f7f7f7;

}

#main_picture{
    background:transparent url(img/hero2.jpg) no-repeat bottom left;
    height: 250px;
    background-size: 120%;
}

p{

    line-height:24px;   
    margin:24px 0px 35px;
    font-size:13px

}

#logo{
    text-align:right;
    margin-bottom:5px;
    padding-right:10px;
}

#logo a{
    display:block;
}

#logo img{
    max-width:210px;
}

#menu{
    margin:0px 0px 2px 0px;
    padding: 0px;
}

#menu > li{
    list-style: none;
    display:inline-block;
    line-height: 30px;
    margin-right: 35px;
    font-size:12px

}

#footer{
    height:100px;
    margin-top:50px;
}
#push{
    height:100px
}


#contact_box{

    float:right;
    height:inherit;
    background-color:#fff;
    padding: 0px 40px;
    color:#9c9c9c !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;   
}

.contact_inner{
        display:inline-block;
        padding-top:10px;
        vertical-align:top;
   

}
.contact_inner h4{
    margin-top:0px;
    font-size:18px;
    margin-right:90px;
}

.contact_inner #mailto{
    margin-bottom:10px;
    text-decoration:underline;
    display:block;
    font-size: 10px;
}

.contact_inner p{
    margin:0;
    padding:0;
    line-height:13px; 
    font-size: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  #main_picture{
      height:230px
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 970px;
  }

   #main_picture{
      height:300px
  }

   #menu > li{
    margin-right: 60px;
    font-size:14px
    }

   #logo img{
    max-width:260px;
}
   #logo{
    margin-bottom:14px;
    }
}

#Team dl dt{
    margin-top:20px;
    font-weight:bold;
} 

#Team dl dt .role{
    font-weight:normal;
    font-size: 12px;
    color: #a6a6a6;
    padding-left: 35px;
}

#Team dl dd{
    padding:10px 0px 10px 30px;
 
}

.serif_text{
    font-family: 'Sorts Mill Goudy', Cambria, serif;
    font-size:16px;
}

#rights{
    font-size:10px;
    color: #C2C2C2;
    margin: 70px 0px 0px;
}

#Investors .form-control, #Investors .btn{
    border-radius:0px;
}

#Insights h4{
font-size: 22px;
margin-bottom: 0px;
color: #1D1D1D;
margin-top:45px;
}

#Insights .article_date{
    font-size: 10px;
color: #9c9c9c;
margin: 0px;
line-height: 13px;
}

#Insights .article_body{
    margin-left:20px;
    padding-left:15px;
    border-left:#D3D3D3 1px solid;
}