 body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:13px;
    color:#454545;    margin:0px;    padding: 0px;    height:100%;    margin-top:17px;
}#wrapper{
    
	min-height:100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
a{
    text-decoration:none;
    color:inherit;  
}
a:hover, a:visited{
    text-decoration:none;
    color:inherit;
}
h3, h2{
    font-family:'Century Gothic';
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
.container_{
    margin: 0px auto;
    width:750px;
}
#header{

}
.darker_row{
    background-color:#f7f7f7;
}
#main_picture{
    background:transparent url(img/hero2.jpg) no-repeat top center;
    height: 200px;
  background-position: 0px -100px;
  background-size: 750px;
}
p{
    line-height:21px;   
    margin-top:15px;    font-size:11px
}

#logo{    text-align:right;
}

#logo a{
    display:block;
}

#logo img{
    max-width:200px;
}

#menu{
    margin:0px;
    padding: 0px;
}

#menu > li{
    list-style: none;
    display:inline-block;
    line-height: 30px;
    margin-right: 60px;
}

#footer{
    margin-bottom:20px;
    height:80px;
    margin-top:30px;
}
#push{
    height:100px
}


#contact_box{

    float:right;
    height:inherit;
    background-color:#fff;

}

.contact_inner{
        display:inline-block;
        margin:10px 15px auto 10px
}
.contact_inner h2{
    margin-top:12px;
    font-size:20px;
}

.contact_inner #mailto{
    margin-bottom:10px;
    tex
}

.contact_inner p{

}